<footer class="p-ls-padding-h flex flex-col flex-auto bg-black text-white">
    <div class="flex flex-col lg:flex-row flex-auto py-8">
        <div class="text-white flex-col flex-auto mb-6 content-center text-center lg:text-left">
            <h2 class="text-2xl lg:text-3xl text-white mb-4">Want to stay in touch?</h2>
            <p class="font-light">Let's work together on your next project. Let's discuss how I can assist you.</p>
        </div>
        <div class="text-white flex-col flex lg:flex-row ">
            <div class="content-center m-auto flex space-x-4">
                <a href="{{ base_url_absolute }}/contact" 
                class="btn-primary space-x-4 inline-block bg-black flex border border-solid border-white text-white m-1 h-fit">
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="{{ class|default('w-5 h-5') }}">
                    <path d="M5 12h14"/><path d="M12 5v14"/>
                </svg>
                <span>More projects</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="{{ class|default('w-5 h-5') }}">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
                </a>
                <a href="{{ base_url_absolute }}/contact" 
                class="btn-primary space-x-4 inline-block bg-primary-50 flex border-white text-white m-1 h-fit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="{{ class|default('w-5 h-5') }}">
                    <path d="M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z"/><path d="M6 12h16"/>
                </svg>
                <span>Get in touch</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="{{ class|default('w-5 h-5') }}">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
                </a>
            </div>
           
        </div>
    </div>
    <div class="py-4 flex flex-row">
        <div class="flex flex-auto items-center"><p class="text-sm font-light">{{ "now"|date("Y") }} {{ site.title }}. All rights reserved.</p></div>
        <div class="flex-row">
            <a href="{{ base_url_absolute }}/contact" 
                class="btn-primary px-2 py-2 inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="{{ class|default('w-5 h-5') }}">
                    <path stroke-linecap="round" stroke-linejoin="round" <path d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"/><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"/><path d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"/><path d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"/><path d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"/> />
                </svg>
            </a>
            <a href="{{ base_url_absolute }}/contact" 
                class="btn-primary px-2 py-2 inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="{{ class|default('w-5 h-5') }}">
                    <path stroke-linecap="round" stroke-linejoin="round" <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2" />
                </svg>
            </a>
        </div>
    </div>
</footer>