{% extends 'partials/base.html.twig' %}
{% block content %}

{# Header #} 
    {% if page.header.title %}
      {% include 'partials/hero.html.twig' %}
    {% endif %}

    <div class="flex flex-col lg:flex-row gap-x-4 md:gap-x-4 lg:gap-x-8 sm:gap-y-4 gap-y-6 p-site pt-0 bg-gradient-to-b to-white from-gray-100">
      <main class="p-site w-full lg:w-2/3 shadow-lg rounded-3xl bg-white bg-opacity-90">
        {% if page.content %}
          <div class="flex-col space-y-8">
              <h1>{{ page.header.hero_title|raw }}</h1>
              <p>{{ page.content|raw }}</p>

            {# ✅ project Images #}
            {% if header.project_media %}
              <section>
                <div class="w-full mb-0 project-media">
                  {% for file in header.project_media %}
                    {% set image = page.media.images[file.name] %}
                    {% set video = page.media.files[file.name] %}
                    
                    {% if image %}
                    <div class="delay-[300ms] duration-[600ms] taos:translate-y-[10%] taos:opacity-0" data-taos-offset="300">
                      <img
                          src="{{ image.url }}"
                          alt="{{ file.name }}"
                          class="w-full my-8 rounded-xl shadow cursor-pointer hover:shadow-lg"
                          loading="lazy"
                          onclick="openModal({{ loop.index0 }})"
                        />
                    </div>
                    {% elseif video and video.type starts with 'video' %}
                      <video
                        controls
                        class="w-full my-4"
                        preload="metadata"
                        onclick="openModal({{ loop.index0 }})"
                      >
                        <source src="{{ video.url }}" type="{{ video.type }}">
                        Your browser does not support the video tag.
                      </video>
                    {% endif %}
                  {% endfor %}
                </div>
              </section>
            {% endif %}
          </div>
        {% endif %}
        </main>

      <aside class="w-full lg:w-1/3 delay-[100ms] duration-[600ms] taos:translate-y-[2%] taos:opacity-0" data-taos-offset="300">
        <div class="sticky top-0 p-site rounded-3xl shadow-lg space-y-4 bg-slate-50 bg-opacity-90">
          {% if page.parent %}
            <a href="{{ page.parent.url }}" class="inline-flex items-center text-primary-50 hover:underline">
              ← Back to {{ page.parent.title }}
            </a>
          {% endif %}
          
          {% if page.header.client %}
            <h1>
              {{page.header.client}}
            </h1>
          {% endif %}

          {% if page.header.role %}
            <div class="pb-2">
              <label>Role</label>
              <p>{{page.header.role}}</p>
            </div>
          {% endif %}

          {% if page.header.duration %}
            <div class="pb-2">
              <label>Duration</label>
              <p>{{page.header.duration}}</p>
            </div>
          {% endif %}

          {% if page.header.tags %}
            <div class="pb-2">
              <ul class="flex space-x-2">
                {% for tag in page.header.tags %}
                  <li class="inline-block bg-primary-100 text-black text-xs font-medium px-3 py-1 rounded-full">{{ tag }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if header.project_url %}
            <div class="pb-2">
              <a class="btn btn-primary bg-black font-medium text-white hover:bg-primary-100 hover:text-black" href="{{header.project_url}}" target="_blank">Visit site</a>
            </div>
          {% endif %}
        </div>
      </aside>
    </div>

    <div class="p-site flex flex-col gap-y-6 pt-0 bg-gradient-to-b from-white to-gray-100">
        <div class=" bg-gray-200 flex flex-col lg:flex-row p-site gap-x-12 gap-y-4 rounded-3xl shadow-lg delay-[150ms] duration-[300ms] taos:translate-y-[10%] taos:opacity-0" data-taos-offset="300">
          <div class="w-full lg:w-1/2">
            <h3 class="py-2">Challenge</h3>
            <p>{{header.challenge}}</p>
          </div>
          <div class="w-full lg:w-1/2">
            <h3 class="py-2">Solution</h3>
            <p>{{header.solution}}</p>
          </div>
        </div>

      {# ✅ design Process #}
        <div class="p-site bg-black text-white w-full flex flex-col lg:flex-row rounded-3xl shadow-lg delay-[150ms] duration-[300ms] taos:translate-y-[10%] taos:opacity-0" data-taos-offset="300">
          <div class="w-full lg:w-1/2">
            <h2>Design Process</h2>
          </div>
          <div class="w-full lg:w-1/2">
            <h3 class="py-2">wdwhkwjdhj dwjkdhwjkdwhkjw dhjkwdh dwkjh wdjkhdw jk dwkjdw hkjwdhwdjk. dwkjhwdkjhdwkj h</h3>
            <p class="text-white">{{header.solution}}</p>
          </div>
        </div>
    </div>
    


{# profile #} 
{% if page.header.profile %}
    {% include 'partials/profile.html.twig' %}
{% endif %}

{# modal #} 
{% if header.project_media %}
    {% include 'partials/modal.html.twig' %}
{% endif %}
  
{% endblock %}